{% extends "base.html" %}
{% load static %}

{% block content %}
<h2>About me</h2>
<div class="about-wrapper">
    <img class="about-photo" src="{% static 'author.jpg' %}" alt="Author photo">
    <p class="about-text">I made my first bead in 2011 and this changed my life forever. Initially I have a degree in economics, but after I became acquainted with the world of lampwork, glass became my life.</p>
    <p class="about-text">I have many hobbies, but lampwork is my passion and my ‘number one’. If I do not melt glass at a torch, I melt it in my imagination. I can be inspired by everything and everywhere, no matter if I visit art museums, take walks in woods, or cook at home. And since 2015 I am a full time lamworker.</p>
    <p class="about-text">What began as a hobby is now my profession.</p>
    <p class="about-text">Nowadays I live and work in Uruguay, being the only one lampworker in a country. Currently I do not give classes, but there are several tutorial available, and my book, mi pride, a comprehensive guide devoted to my technique of implementing copper wire into lampwork beads.</p>
</div>
<div class="about-text">
    <p>To see more of my work and life:</p>
    <p>Facebook:
        <a href="https://www.facebook.com/olga.vilnova">olga.vilnova</a>
    </p>
    <p>Instagram:
        <a href="https://www.instagram.com/olgavilnova">@olgavilnova</a>
    </p>
</div>
{% endblock content %}