{% extends "base.html" %}
{% load static %}

{% block content %}
<h2 class="policies-h">Policies</h2>
<div class="policies-wrapper">
    <p class="policies-text">Please view the photos and carefully read the description. Colors may vary depending on your monitor.</p>
    <h3 class="policies-h">PAYMENT</h3>
    <p class="policies-text">For now, after you place your order, I will send you an invoice via PayPal within 24 hours.
        <br>I am working hard on making the payment process instant and automated.
        <br>Coming soon!</p>
    <h3 class="policies-h">SHIPPING</h3>
    <p class="policies-text">Beads are shipped from the California, USA*
        <br>Shipping & handling costs are calculated according to a formula (because of a composite shipping route from Uruguay to you):
        <br>Each bead multiplies $2 plus:
        <br>-Within the US: + $5 for 1-3 beads, + $10 starting from 4 beads (priority mail).
        <br>-Europe: +$20,
        <br>-Canada: +$16,
        <br>-Australia: +$22
        <br>(So three beads to Canada: $22=3x2+16, or five beads within US: $20=5x2+10)
        <br>All packages have a tracking number. You will receive a notification with tracking details as soon as items have been shipped. Parcels can only be shipped to the address stated in your PayPal.
        <br>
        </p>
    <p class="policies-text policies-asterix">*In rare cases the beads may be shipped from another location (Cyprus). In this case, you will see it on a product page.</p>
    <h3 class="policies-h">CUSTOMS CHARGES</h3>
    <p class="policies-text">Each customer is responsible for any potential import fees levied by their country's border control.</p>
    <h3 class="policies-h">REFUNDS</h3>
    <p class="policies-text">All the glass beads have gone through an annealing process to increase the strength and resilience, and are checked at every stage. But glass is glass and it is not unbreakable, care should be exercised. If an item is damaged during delivery, I will replace it for you or refund it. Please contact me if you have any problems with your order.</p>
    <h3 class="policies-h">PRIVACY POLICY</h3>
    <p class="policies-text">No financial or personal details will be stored.</p>
    <h3 class="policies-h">Thank you for visiting my shop!</h3>
</div>
{% endblock content %}
