.row > :first-child:not(.card) {
    padding-left: 0;
}

.row > :last-child:not(.card) {
    padding-right: 0;
}


tr > td:first-child {
    padding-left: 0;
}

body{
    margin: 0;
    font-size: 20px;
    background-color: #f6f6f6;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}
.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.fill-height {
    flex: 1;
}

.alert {
    padding: 10px;
    background-color: #777;
    color: white;
}

.alert-success {
    background-color: rgb(170, 200, 120);
}

.alert-error {
    background-color: red;
}

.row{
    justify-content: space-between;
}

.card, .fiction-card{
    width: 300px;
}

.fiction-card{
    height: 0;
}

.card{
    margin-bottom: 10px;
    padding: 10px;
    border: none;
    box-shadow: -5px 5px 10px rgba(122,122,122,0.5);
    text-align: center;
    min-height: 440px;
}

.card:hover{
    box-shadow: -10px 10px 12px rgba(122,122,122,0.7);
}


.card .buy-button{
    font-family: inherit;
    height: 40px;
    width: 200px;
    border-radius: 20px;
    background-color: #F0BE6E;
    position: relative;
    top: -20px;
    right: -40px;
    z-index: 2;
    text-decoration: none;
    color: #111;
}
.card .buy-button:hover {
    background-color: #ffee8e;
    box-shadow: 0 0 3px 3px rgba(80,80,80,0.5);
}
.card .buy-button:active{
    box-shadow: 0 0 1px 1px rgba(80,80,80,0.9);
    transform: translateY(2px);
}

.card form{
    z-index: 2;
}
.card-body{
    padding: 8px;
}
.card-img-top{
    width: 280px;
    height: 280px;
}

.card-body a.product-link{
    display: block;
    text-align: center;
    height: 100%;
    text-decoration: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 310px;

}

.card.sold-out::after{
    content: 'SOLD OUT';
    background-color: white;
    color: black;
    width: 50%;
    height: 10%;
    position: absolute;
    right: 0;
    font-size: 1.5em;
    z-index: 999;
}

.card.reserved:not(.sold-out)::after{
    content: 'RESERVED';
    background-color: white;
    color: black;
    width: 50%;
    height: 10%;
    position: absolute;
    right: 0;
    font-size: 1.5em;
    z-index: 999;
}

.card.sale:not(.sold-out)::before{
    content: 'SALE';
    color: #FFF;
    background-color: darkred;
    width: 30%;
    height: 10%;
    position: absolute;
    left: 10px;
    font-size: 1.5em;
    z-index: 999;
}

.card .product-title {
    font-weight: 400;
    margin-bottom: 0;
    white-space: nowrap;
    overflow: hidden;
}


.card .product-old-price {
    text-decoration: line-through;
    color: #999;
}

.card .product-price{
    font-size: 30px;
    color: #000;
}



.product-page .product-page-price {
    font-weight: 400;
    font-size: 3rem;
    color: rgb(47,66,112);
}
.product-page .product-page-old-price {
    font-weight: 300;
    font-size: 2rem;
    color: rgb(47,66,112);
    text-decoration: line-through;
    margin-right: 6px;

}
.product-page-title {
    font-weight: 400;
    font-size: 40px;
}
.product-page-property {
    font-weight: 300;
    font-size: 30px;
}
.product-page-property-value {
    font-weight: 400;
    font-size: 30px;
}

.main-image.sold-out::after{
    content: 'SOLD OUT';
    background-color:white;
    color: black;
    width: 40%;
    height: 12%;
    position: absolute;
    right: 0;
    font-size: 2em;
    z-index: 999;
    text-align: center;
}

.main-image.reserved:not(.sold-out)::after{
    content: 'RESERVED';
    background-color:white;
    color: black;
    width: 40%;
    height: 12%;
    position: absolute;
    right: 0;
    font-size: 2em;
    z-index: 999;
    text-align: center;

}

.main-image.sale:not(.sold-out)::before{
    content: 'SALE';
    color: #FFF;
    font-weight: 500;
    background-color: darkred;
    width: 30%;
    height: 12%;
    position: absolute;
    left: 0;
    font-size: 2em;
    z-index: 999;
    text-align: center;
}


.add-remove-button{
    position: relative;
    font-family: inherit;
    font-weight: 900;
    height: 45px;
    min-width: 150px;
    border: none;
    border-radius: 10px;
    z-index: 2;
    vertical-align: center;
    padding: 0 20px;
    margin-bottom: 4px;

}

.order-form .add-remove-button{
    width: 100%;
}

.add-button {
    background-color: rgb(245, 126, 34);
    color: rgb(47, 66, 112);
}

.add-button:hover {
    box-shadow: 0 0 3px 3px rgba(80,80,80,0.5);
}

.add-button:active {
    box-shadow: 0 0 1px 1px rgba(80,80,80,0.9);
    transform: translateY(2px);
}

.remove-button {
    background-color: rgb(47, 66, 112);
    color: rgb(245, 126, 34);
}
.remove-button:hover {
    box-shadow: 0 0 3px 3px rgba(80,80,80,0.5);
}

.remove-button:active {
    box-shadow: 0 0 1px 1px rgba(80,80,80,0.9);
    transform: translateY(2px);
}


.nav-link{
    color: rgb(47, 66, 112);
}
.nav-link:hover{
    text-decoration: underline rgb(47, 66, 112) 2px;
    color: rgb(47, 66, 112);
    text-underline-offset: 5px;
}

a.nav-item-basket{
    margin-right: 30px;
    margin-bottom: 16px;
    position: relative;
    display: inline-block;
    align-self: flex-end;
}
.nav-cart-inside {
    position: absolute;
    top: 0;
    right: -10px;
    background-color: rgb(47, 66, 112);
    color: rgb(245, 126, 34);
    border-radius: 50%;
    width: 22px;
    height: 22px;
    text-align: center;
    line-height: 22px;
    font-size: 12px;
    font-weight: 600;
}
.navbar-collapse{
    align-self: flex-end;
    margin-bottom: 10px;
}



.header{
    min-height: 110px;
    background-color: rgb(245, 126, 34);
    margin-bottom: 7px;
    font-weight: 400;
}
.product-page-container{
    margin-top: 7px;
}

.navbar-brand{
    padding: 0 30px;
}

.navbar-brand img{
    width: 160px;
}
.footer{
    min-height: 90px;
    display: flex;
    justify-content: stretch;
    align-items: center;
}
.footer-socials{
    flex-grow: 1;
    text-align: left;
}
.footer > div{
    padding: 10px;
}
.footer-icon{
    margin-right: 10px;
}
.footer a {
    text-decoration: none;
    color: #111;
}
.footer-policies a:hover {
    text-decoration: underline;
}
.list-group{
    justify-content:  space-between;
}

.list-group-item{
    flex-grow: 1;
    text-align: center;
    border: none;
    white-space: nowrap;
    padding: 4px 0;
    border-radius: 0 !important;
}

.menu-root{
    background-color: #ccc;
}

.menu-root li:hover:not(.menu-root-active){
    text-decoration: underline 3px rgb(245, 126, 34);
    text-underline-offset: 5px;
}

.menu-branch li:hover{
    text-decoration: underline 3px #ccc;
    text-underline-offset: 5px;
}

.menu-root-active{
    background-color: rgb(245, 126, 34);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    text-decoration: underline 3px #ccc;
    text-underline-offset: 5px;
}

.menu-branch{
    background-color: rgb(245, 126, 34);
    margin-top: 0;
}
.menu-branch-active{
    background-color: rgb(245, 126, 34);
    text-decoration: underline 3px #ccc;
    text-underline-offset: 5px;
}
.menu-branch-active a{
    display: block;
    width: 100%;
    height: 100%;
}

.list-group-horizontal > .list-group-item:first-child:not(:last-child){
    border: none;
}

.list-group-item a{
    text-decoration: none;
    color: #111;
}
.list-group-item.menu-root-sale a{
    color: darkred;
}
@media (max-width: 1200px){
    .tree{
        display: None;
    }
}

.gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.thumbnail-flex-container {
    display: flex;
    column-gap: 10px;
}

.thumbnail {
    cursor: pointer;
    width: 100%;
}

.thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main-image {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
}

.main-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

button.cart-item-remove-btn {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;

    width: 30px;
    height: 30px;

    background-image: url('cross.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

button.cart-item-remove-btn:hover {
    box-shadow: 0 0 3px 3px darkred;
}

.cart-products .product-old-price{
    text-decoration: line-through;
    color: #999;
    font-size: 0.75em;
}
.dollar-sign{
    font-size: 0.8em;
    font-weight: 400;
}
.cart-product-sale{
    font-weight: 400;
    color: darkred;
}
.cart-subtotal{
    font-weight: 400;
}
a.cart-product-title{
    font: inherit;
    text-decoration: none;
    color: inherit;
}
table.cart-products{
    margin-bottom: 2rem;
}
.cart-sold-items{
    padding: 8px;
}

textarea.order-message{
    width: 100%;
}
h3.category-name{
    margin: 18px 0 22px;
}
h3.promo-text-title{
    margin: 30px 0 22px;
}

.cart-image-container{
    position: relative;
    display: inline-block;
}
.cart-image-container .medium-image{
    display: none;
    position: absolute;
    top: 0;
    left: 100px;
    z-index: 1;
}
.cart-image-container .small-image{
    height: 70px;
}
.cart-image-container:hover .medium-image{
    display: block;
    height: 280px;
}
.policies-wrapper{
    padding: 30px;
}
h3.policies-h{
    margin: 20px 0 10px;
}
.about-wrapper{
    overflow: hidden;
    margin-bottom: 30px;
}
.about-photo{
    float: left;
    margin-right: 30px;
    overflow: hidden;
    width: 300px;
    min-height: 300px;
}
.about-text{
    font-size: 20px;
}
.ttrl-ttl-sm{
    font-size: 28px;
    font-weight: 300;
}
.ttrl-ttl-bg{
    font-size: 30px;
    font-weight: 400;
}
.ttrl-hd{
    font-size: 24px;
    font-weight: 400;
    text-decoration: underline;
    padding-left: 0;
    line-height: 1.2;
    margin-bottom: 0;

}
.ttrl-txt{
    font-size: 24px;
    font-weight: 300;
    padding-left: 0;
    line-height: 1.2;
    margin-bottom: 0;
}
.add-br{
    margin-bottom: 20px;
}
.gallery-tutorial {
    display: flex;
    column-gap: 10px;
    margin-bottom: 10px;

}
.tutorial-thumbnail-flex-container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: stretch;
}
.tutorial-thumbnail {
    cursor: pointer;
}
.tutorial-thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.main-image-tutorial {
    position: relative;
    width: 83%;
    flex-shrink: 0;
}

.main-image-tutorial img {
    width: 100%;
    object-fit: cover;
}